---
import * as prismicH from "@prismicio/client";
import Image from "astro/components/Image.astro";

import imgPlate from "@assets/kustomer-plate.png";
import KustomerAwardThree from "./AwardThree";
import KustomerAwardContent from "./AwardContent";
import PLMA from "@/assets/kus-aw-lg.png";
import "./Award.scss";
---

<section class="kustomer-award">
    <div class="container grid">
        <KustomerAwardThree qr={Astro.props.qr} client:idle>
            <Image src={imgPlate} alt="" slot="imgPlate" />
        </KustomerAwardThree>
        <KustomerAwardContent
            label={Astro.props.label}
            btn={Astro.props.btn}
            medal={Astro.props.medal}
            client:visible={{ rootMargin: "200% 0px 200% 0px" }}
        >
            <Fragment
                set:html={prismicH.asHTML(Astro.props.describe)}
                slot="describe"
            />
            <Image src={PLMA} alt="" slot="imgPLMA" class="img plma-img" />
            <Fragment set:html={Astro.props.title} slot="title" />
        </KustomerAwardContent>
    </div>
</section>
