---
import PrivateDistribute from "./Distribution.jsx";
import Image from "astro/components/Image.astro";
import kareerCultItem from "@assets/kareer-cult-item.jpg";
import * as prismicH from "@prismicio/client";
import { convertHighlight } from "@/components/utils/text";
---

<PrivateDistribute
    {...Astro.props}
    client:visible={{ rootMargin: "100% 0px 100% 0px" }}
>
    <Fragment set:html={convertHighlight(Astro.props.title)} slot="newTitle" />
    <Fragment slot="renderList">
        {
            Astro.props.list.map((item, idx) => (
                <div
                    class="private-distribute-main-item bg-light"
                    style={{
                        "--idx": idx + 1,
                        "--pd-bot": Astro.props.list.length - idx - 1,
                        "--mg-top":
                            idx == 0 ? 0 : Astro.props.list.length - idx,
                    }}
                >
                    <div class="private-distribute-main-item-inner">
                        <div class="line line-top" />
                        <div class="private-distribute-main-item-content">
                            <div class="private-distribute-main-item-title">
                                <div class="private-distribute-main-item-title-dot" />
                                <h3 class="heading h1 txt-up txt-black private-distribute-main-item-title-txt">
                                    {item.item_title[0].text}
                                </h3>
                            </div>
                            <div class="txt txt-20 txt-med private-distribute-main-item-sub">
                                <Fragment
                                    set:html={prismicH.asHTML(
                                        item.item_subtitle,
                                    )}
                                />
                            </div>
                        </div>
                        <div class="private-distribute-main-item-img">
                            <Image
                                src={item.item_image.url}
                                alt=""
                                width={item.item_image.dimensions.width}
                                height={item.item_image.dimensions.height}
                                class="img img-h"
                            />
                        </div>
                        {idx == 2 && <div class="line line-bot" />}
                    </div>
                </div>
            ))
        }
    </Fragment>
</PrivateDistribute>
