---
import "@fontsource-variable/inter";
import "@styles/global.scss";
import { getImage } from "astro:assets";
import GlobLoader from "@components/globals/GlobLoader/GlobLoader.astro";
import bgTexture from "@assets/bg-texture-sm.png";
import bgTextureDark from "@assets/bg-texture-dark-sm.png";
import BaseHead from "@components/globals/BaseHead.astro";
import Header from "@components/globals/Header/Header.astro";
import Footer from "@components/globals/Footer/Footer.astro";
import Cursor from "@components/globals/Cursor/Cursor.astro";

const OpBgTexture = await getImage({
	src: bgTexture,
	format: "webp",
	width: bgTexture.width / 2,
});
const OpBgTextureDark = await getImage({
	src: bgTextureDark,
	format: "webp",
	width: bgTextureDark.width,
});
const {
	title,
	meta_desc,
	data_page,
	hideNav = false,
	hideLoader = true,
	footer_cta,
	footer_bg,
	explore_data,
	open_graph
} = Astro.props;
---

<html lang="en" data-page={data_page ? data_page : ""}>
	<BaseHead title={title} meta={meta_desc ? meta_desc : ''} OP={open_graph}/>

	<body
		style={`--bg-txt: url(${OpBgTexture.src}); --bg-txt-dark: url(${OpBgTextureDark.src});`}
	>
		{!hideNav && <Header />}
		<Cursor />
		{!hideLoader && <GlobLoader />}
		<div class="main on-load">
			<slot />
		</div>
		{
			!hideNav && (
				<Footer
					title={footer_cta}
					bg={footer_bg}
					explore={explore_data}
				/>
			)
		}
		<script>
			import main from "@/js/main";
			setTimeout(() => {
				document.querySelector(".main").classList.remove("on-load");
			}, 600);
			main();
		</script>
		<script src="https://app.termly.io/embed-policy.min.js" type="text/javascript"></script>
	</body>
</html>
