---
import { ViewTransitions } from 'astro:transitions';
import { getImage } from 'astro:assets';
interface Props {
	title: string;
    meta: string;
    OP: any;
}
const { title, meta, OP } = Astro.props;
// const OpenGraph = await getImage({src: OP, format: 'webp', width: OP.width})
---
<head>
    <meta charset="UTF-8" />
    <meta name="description" content={meta} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:type" content="website" />
    <meta property="og:url" content={`https://www.kanaknaturals.com${Astro.url.pathname}`} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={meta} />
    <meta property="og:image" content={OP} />
    <!-- <ViewTransitions /> -->
    <script>
        window.scrollTo(0,0)
    </script>
    <script async defer src="https://app.visitortracking.com/assets/js/tracer.js" is:inline> </script>
    <script is:inline>
        function init_tracer() {
            var tracer = new Tracer({
                websiteId : 'a0e2d7b2-fd59-4cee-b57d-05c81524bd6f',
                async : true,
                debug : false
            });
        }
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P6JL7PWT9D" is:inline></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-P6JL7PWT9D');
    </script>
</head>